<div class="grid-container">
  <h1 class="center mat-h1">DementAI Health Care Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="240px">
    <!-- Overview -->
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3>Overview</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>local_hotel</mat-icon>
              </ng-template>
              <div class="demo-tab-content">
                <h2>Status</h2>
                <mat-progress-bar style="margin-top: 50px" mode="determinate" value="75"></mat-progress-bar>
                <br/>
                <mat-chip-list>
                  <mat-chip selected="true" color="primary">Awake: 325</mat-chip>
                  <mat-chip selected="true" color="warn">Sleeping: 79</mat-chip>
                </mat-chip-list>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>local_hospital</mat-icon>
              </ng-template>
              <div class="demo-tab-content">
                <h2>Health Status</h2>
                <p>Display health info</p>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <p>
                  <mat-icon matBadge="2" matBadgeColor="warn">notifications_active</mat-icon>
                </p>
              </ng-template>
              <div class="demo-tab-content">
                <h2>Service Requests</h2>
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <h4 mat-line>Gertrud von Storch</h4>
                    <p mat-line>Has a very bad headache today.</p>
                    <button mat-list-button mat-raised-button color="primary">Assign</button>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <h4 mat-line>Siegfried Seehofer</h4>
                    <p mat-line>Likes to have a meal before lunch.</p>
                    <button mat-list-button mat-raised-button color="primary">Assign</button>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>save_alt</mat-icon>
              </ng-template>
              <div class="demo-tab-content">
                <h2>Reports</h2>
                <button mat-raised-button style="width: 260px; margin: 5px" color="primary">Export Daily Report
                  <mat-icon>assignment</mat-icon>
                </button>
                <br/>
                <button mat-raised-button style="width: 260px; margin: 5px" color="warn">Export Station Report
                  <mat-icon>people</mat-icon>
                </button>
                <br/>
                <button mat-raised-button style="width: 260px; margin: 5px" color="secondary">Export Individual Patient Report
                  <mat-icon>person</mat-icon>
                </button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Barbara -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header class="patient-header">
          <img class="patient-image" mat-card-avatar src="/assets/imgs/barbara.jpg" alt="Photo of Barbara">
          <mat-card-title style="margin-left: 10px;">
            <h2>Patient: Barbara Müller</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!collapsed" class="patient-chips dashboard-card-content">
            <mat-chip-list>
              <mat-chip color="primary" selected="true"><mat-icon>alarm</mat-icon> Awake</mat-chip>
              <mat-chip color="warn" selected="true"><mat-icon>mood_bad</mat-icon> Depressed</mat-chip>
            </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Irmgard -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header class="patient-header">
          <img class="patient-image" mat-card-avatar src="/assets/imgs/irmgard.jpg" alt="Photo of Irmgard">
          <mat-card-title style="margin-left: 10px;">
            <h2>Patient: Irmgard Schneider</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!collapsed" class="patient-chips dashboard-card-content">
            <mat-chip-list>
              <mat-chip color="primary" selected="true"><mat-icon>alarm</mat-icon> Awake</mat-chip>
              <mat-chip color="primary" selected="true"><mat-icon>mood</mat-icon> Oriented</mat-chip>
            </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>