.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.center {
  align-content: center;
}

.demo-tab-content {
  padding: 16px;
}

.mat-list-item {
  margin: auto;
  width: 900px;
}

.patient-image {
  width: 190px;
  height: 140px;
  border-radius: 5px;
}

.patient-header {
  height: 80px;
}

.patient-chips {
  margin-left: 210px;
}